<div class = "container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-3">
      <div class="panel panel-default" id="edit_uinfo">
        <div class="panel-body">
          <h2 class="text-center">
            Edit User Profile
          </h2>
          <div class="row">
            <div class="col-lg-8 col-md-offset-2">
                <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>