<div id="image_carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('beach.jpg', :id => 'the_beach') %>
    </div>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-caption">
    <%= image_tag('waddle.png', :id => 'waddle_logo') %>
    <h2>| stories beyond reviews |</h2>
    <br>
    <%= link_to 'Send Your Story', new_post_path, class: 'btn btn-warning btn-lg' %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>